body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient( #ebedee 60%,#e2d1c3 80% );
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-color: #FAACA8;
/* background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
